*{
    margin: 0;
    padding: 0;
    
    font-family: 'Josefin Slab', serif;
    
}
body{
    background-image: url("./fondo.jpg");
    background-color: #282c34;
    background-repeat: no-repeat;
    background-size: cover;
}

